@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

body {
  display: grid;
  flex-direction: column;
  background-color: #e94a4a;
  font-family: "Poppins", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  width: 375px;
  height: 2500px;
  justify-content: space-between;
  align-items: center;
  background-color: #e5e5e5;
  flex-direction: column;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
  align-content: center;
}

.flex1 {
  width: 327px;
  height: 552px;
  margin: 16px;
  top: 114px;
  left: 24px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
}

#Tonic {
  width: 295px;
  height: 36;
  font-family: "Poppins", sans-serif;
  background-color: #172B4D;
}

.flex2 {
  width: 327px;
  height: 552px;
  margin: 16px;
  top: 114px;
  left: 24px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
}

.flex3 {
  width: 327px;
  height: 552px;
  margin: 16px;
  top: 114px;
  left: 24px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: #fff;
}

.flex4 {
  width: 327px;
  height: 552px;
  margin: 16px;
  top: 114px;
  left: 24px;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  background-color: #fff;}

